- block:
    - name: Link alacritty config
      ansible.builtin.file:
        src: "{{ lookup('env', 'HOME') }}/dotfiles/config/apps/alacritty/alacritty.toml"
        dest: "{{ lookup('env', 'HOME') }}/.config/alacritty/alacritty.toml"
        state: link
        force: true
  tags: alacritty
