- block:
    # Manually
    # - name: Install brew
    #   become: true
    #   become_user: root
    #   command: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    - name: Install brew packages
      ansible.builtin.command: brew install {{ package }}
      loop:
        - autojump
        - spotify
        - neovim
        - telegram
        - alfred
        - alacritty
        - whatsapp
        - tmux
        - neovim
        - ranger
        - firefox
        - karabiner-elements
        - alt-tab
        - bash
        - watch
        - wget
        - rename
        - tldr
        - ncdu
        - helm
        - helmfile
        - git-crypt
        - brave-browser
        - flameshot
        - orbstack
        - visual-studio-code
        - go
        - typescript
        - terraform
        - bat
        - gpg
        - chatgpt
        - bitwarden
      loop_control:
        loop_var: package
  when: ansible_facts['os_family'] == 'Darwin'
  tags: brew
