- name: Install pacman packages
  become: true
  become_user: root
  become_method: su
  community.general.pacman:
    name: "{{ package }}"
    state: present
  loop:
    - curl
    - htop
    - python3
    - python-pip
    - python-wheel
    - python-virtualenv
    - docker-compose
    - docker
    - git
    - make
    - cmake
    - gcc
    - ripgrep
    - wget
    - firefox
    - telegram-desktop
    - bat
    - fzf
    - gnome-tweaks
    - alacritty
    - tmux
    - dconf-editor
    - xclip
    - pkg-config
    - npm
    - zsh
    - ranger
    - neovim
    - spotify-launcher
    - yay
    - base-devel
    - discord
    - starship
    - go
    - jq
    - aws-cli
    - azure-cli
    - kubectl
  loop_control:
    loop_var: package
  when: ansible_facts['os_family'] == 'Archlinux'
  tags: pacman
