- block:
    - name: Install yay packages
      ansible.builtin.command: yay -S --noconfirm {{ package }}
      loop:
        - autojump
        - pacman-static
        - albert
        - pear-desktop
      loop_control:
        loop_var: package
  when: ansible_facts['os_family'] == 'Archlinux'
  tags: yay
