- name: Setup packages
  hosts: all
  # become: yes
  tasks:
    - name: Include task for setup packages
      ansible.builtin.include_tasks: "{{ item }}"
      with_fileglob: roles/packages/*.yml
  tags: packages # Needed to be included when using tags

- name: Setup shell
  hosts: all 
  tasks:
    - name: Include tasks for setup shell
      ansible.builtin.include_tasks: "{{ item }}"
      with_fileglob: roles/shell/*.yml
  tags: shell # Needed to be included when using tags

- name: Setup customization
  hosts: all
  tasks:
    - name: Include tasks for setup customization
      ansible.builtin.include_tasks: "{{ item }}"
      with_fileglob: roles/customization/*.yml
  tags: customization # Needed to be included when using tags

- name: Setup apps
  hosts: all
  tasks:
    - name: Include task for setup apps
      ansible.builtin.include_tasks: "{{ item }}"
      with_fileglob: roles/apps/*.yml
  tags: apps # Needed to be included when using tags
