- block:
    - name: Clean oh-my-zsh
      ansible.builtin.shell: rm -rf ~/.oh-my-zsh

    - name: Install oh-my-zsh
      ansible.builtin.shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" --unattended

    - name: Clone fzf-zsh-plugin
      ansible.builtin.git:
        force: true
        repo: https://github.com/unixorn/fzf-zsh-plugin.git
        dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/fzf-zsh-plugin"

    - name: Clone zsh-suggestions
      ansible.builtin.git:
        force: true
        repo: https://github.com/zsh-users/zsh-autosuggestions
        dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"

    - name: Clone zsh-syntax-highlighting
      ansible.builtin.git:
        force: true
        repo: https://github.com/zsh-users/zsh-syntax-highlighting
        dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"

    - name: Clone zsh-vi-mode
      ansible.builtin.git:
        force: true
        repo: https://github.com/jeffreytse/zsh-vi-mode
        dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-vi-mode"

  tags: oh-my-zsh
