- name: Setup zsh as main shell
  become: true
  become_user: root
  shell: chsh -s $(which zsh)

- name: Link zshrc file in ~ dir
  file:
    src: "{{ lookup('env', 'HOME') }}/dotfiles/config/zshrc"
    dest: "{{ lookup('env', 'HOME') }}/.zshrc"
    state: link
    force: yes
